// colors
$sidebar-background: gray;
$green-lightest:#e2eee9;
$green-light:#c9dcd3;
$brown-dark:#5f5047;
$brown-light:#827a68;
$blue:#46778b;
$white:#faf9f4;
$gray-light:#cccccc;

// default div indention settings
$indention:8px;
$indention-small:4px;
$margin-vertical:$indention 0px;

// height settings
$height-phase:50px;
$height-button: 40px;
$height-button-small: 25px;
$height-row-project:80px;
$height-row-project-edit:124px;
$height-address-bar:40px;

$animationType:all 0.4s ease-out;

$sidebar-width:300px;